/* Hide horizontal scrollbar */

.dapp-sidebar {
  height: 100vh;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  background: #685a6b;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;

  .dapp-sidebar::-webkit-scrollbar {
    width: 12px;
  }

  .dapp-sidebar::-webkit-scrollbar-track {
    background: orange;
  }

  .dapp-sidebar::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
  }

  .branding-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 20px 0 33px 0;

    img {
      max-width: 140px;
      height: auto;
    }

    .wallet-link {
      margin: 10px;

      p {
        color: #FFFFFF;
      }
    }
  }

  .dapp-menu-links {
    display: flex;
    align-items: center;
    background: #685a6b;
    text-align: center;



    .dapp-nav {
      display: flex;
      flex-flow: column;

      a {
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        margin-bottom: 20px;

        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          vertical-align: -4px;
          margin-left: 10px
        }
      }

      .button-dapp-menu {
        background: #685a6b;
        text-decoration: none;

        div {

          text-align: center;
          cursor: pointer;
          position: relative;
          background-color: rgb(241, 222, 247);
          color: rgb(255, 255, 255);
          width: 200px;
          text-align: justify;
          transition-duration: 0.6s;
          overflow: hidden;

          border-radius: 4px;
        }

        // div:hover {
        //   background: rgba(231, 211, 159, 0.062);
        //   //box-shadow: 0px 2px 10px 5px rgb(139, 132, 115);
        //   color: rgb(255, 255, 255);
        //   transform: scale(1.1);
        // }





        // div:after {
        //   content: "";
        //   background: rgb(255, 255, 255);
        //   display: block;
        //   position: absolute;
        //   padding-top: 300%;
        //   padding-left: 350%;
        //   margin-left: -20px !important;
        //   margin-top: -120%;
        //   opacity: 0;
        //   transition: all 0.8s
        // }

        div:active:after {
          padding: 0;
          margin: 0;
          opacity: 1;
          transition: 0s
        }

        div:focus {
          outline: 0;
        }


        .dapp-menu-item {
          --c: goldenrod;
          color: var(--c);

          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;


          line-height: 2em;
          text-decoration: none;
          letter-spacing: 0.25em;
          transition: all ease-out 300ms;
          font-weight: 100;
          font-size: 14px;
          color: #685a6b;
          font-family: Montserrat SemiBold;
          text-align: center;


        }
      }

      .button-dapp-menu.active {
        .dapp-menu-item {
          p {


            // text-decoration: underline;

            text-decoration: none;

            border: 0.1em;
            border-radius: 0.5em;
            box-shadow: rgb(139, 132, 115);
            color: #685a6b;
          }
        }
      }

      .bond-discounts {
        text-align: left;
        padding-left: 60px;

        a {
          margin-left: 0;
          margin-top: 20px;
          margin-bottom: 20px;
        }

        p {
          font-family: Montserrat;
          font-size: 14px;
          line-height: 17px;
          color: rgb(241, 222, 247);
        }

        .bond {
          display: block;
          padding: unset;
          margin-bottom: 0 0 1px 0;
          text-decoration: none !important;

          .bond-pair-roi {
            float: right;
            margin-left: 33px;
          }
        }
      }
    }
  }

  .dapp-menu-doc-link {
    border: 0.1em solid var(--c);
    border-radius: 1em;
    width: 15em;
    height: 10.7em;
    background: #685a6b;
    display: flex;
    flex-direction: column;
    align-items: justify;
    text-align: center;

    margin-top: auto;
    margin: auto;

    a {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 10px;

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
      }

      p {
        font-family: Montserrat SemiBold;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }
  }

  .social-row {
    background: #685a6b;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding: 1.3rem;

    a {
      &:hover {
        transform: scale(1.1);
      }

      img {
        height: 20px;
        width: 20px;
      }
    }
  }


}

.MuiDrawer-root {
  .MuiPaper-root {

    z-index: 7;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      background: rgba(36, 39, 41, 0.1);
      backdrop-filter: blur(40px);
    }

    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: #181B1C;
    }
  }
}