.maia-menu-root {

  .maia-menu-btn {
    // color: rgb(241, 222, 247);

    // border: 0.07em solid;
    // border-radius: 1em;
    width: auto;
    height: auto;
    padding: 9px 20px;
    background: #688bd18f;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    cursor: pointer;
    margin-right: 20px;
    // color: white;
    // border: 0.03em solid;
    // border-radius: 1em;

    p {
      font-family: Montserrat SemiBold;
      font-weight: 600;
      font-size: 18px;
      color: rgb(255, 255, 255);
    }
  }
}

.maia-menu-popper {
  margin-top: 10px;
  color: rgb(241, 222, 247);

  border: 0.1em solid;
  border-radius: 1em;
  width: auto;
  height: auto;

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(100px);
  }

  /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: #505048;
  }

  border-radius: 10px;
  overflow: hidden;
  z-index: 10;

  .tooltip {
    display: flex;
    flex-direction: column;

    .tooltip-item {
      text-decoration: none;
      padding: 13px 20px;
      cursor: pointer;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }

      p {
        font-family: Montserrat SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        text-align: center;
      }
    }

    .add-tokens {
      display: flex;
      flex-direction: column;

      .add-tokens-title {
        font-family: Montserrat SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;

        margin: 5px 0px;
      }
    }

    .divider {
      height: 1px;
      background: #d69fe7;
      border-radius: 10px;
    }
  }
}