.connect-button {
  background: #688bd18f;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border-radius: 10px;
  padding: 9px 20px;
  cursor: pointer;

  // color: white;
  // border: 0.03em solid;
  // border-radius: 1em;
  width: auto;
  height: auto;

  display: flex;
  align-items: center;

  .connect-button-progress {

    margin-left: 10px;
    margin-top: 4px;

  }

  p {
    font-family: Montserrat SemiBold;
    font-weight: 600;
    font-size: 18px;
    color: rgb(252, 252, 252);
  }
}